@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.bg-primary{
  background:salmon;
}
.bg-sec{
  background:lightsalmon;
}
.mobile-nav{
@apply fixed top-10;
background: black;
width: 100%;
height: 1/2;
left:0%
}
.mobile-nav  li{
  @apply w-full text-center border-b-2;
}
.project-disc{
@apply absolute left-0 right-0 bottom-0 top-0 bg-sec opacity-0 duration-500 hover:opacity-100
}
.btn{
  @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded
}
html{
  scroll-behavior: smooth;
}